.testimonials .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0px 1rem;
  }
  
  
  .testimonials .swiper-pagination {
    position: relative;
    --swiper-pagination-bottom: 0px;
    padding: 0px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-color: #111827;
    --swiper-pagination-bullet-size: 12px;
  }
  
  .testimonials .swiper-button-prev, .testimonials .swiper-button-next {
    height: 100%;
    top: 0;
  }
  