.cls-1, .cls-2 {
    fill: none;
  }

  .cls-3 {
    clip-path: url(#clippath);
  }

  .cls-4 {
    fill: #fff;
  }

  .cls-5 {
    fill: #b31983;
  }

  .cls-6 {
    fill: #612166;
  }

  .cls-7, .cls-8 {
    fill: #4d5858;
  }

  .cls-9 {
    letter-spacing: 0.5em;
  }

  .cls-10 {
    letter-spacing: 5em;
  }

  .cls-11 {
    clip-path: url(#clippath-1);
  }

  .cls-8 {
    font-family: 'montserrat', 'sans-serif';
    font-size: 22.34px;
  }

  .cls-12 {
    letter-spacing: 0em;
  }

  .cls-2 {
    stroke: #4d5858;
    stroke-miterlimit: 10;
  }

  .cls-13 {
    letter-spacing: 0em;
  }

  .cls-14 {
    opacity: .3;
  }