@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    scroll-margin-top: 75px; /* size of fixed header */
  }
  
  body {
    @apply mx-auto max-w-screen-2xl w-full;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply font-normal text-black text-base font-secondary;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-tight font-semibold;
  }
  h1 { @apply text-[1.8rem]; }
  h2 { @apply text-[1.6rem]; }
  h3 { @apply text-[1.4rem]; }
  h4 { @apply text-[1.2rem]; }
  h5 { @apply text-[1rem]; }
  h6 { @apply text-[0.9rem]; }
  strong {
    font-weight: 700;
  }
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  input, textarea {
    @apply border-b border-opacity-50 pb-2 border-black bg-transparent;
    &:not(:last-child) {
      @apply mb-2;
    }
    &:focus {
      @apply outline-none border-opacity-100;
    }
    &::placeholder{
      @apply text-grey-400 text-opacity-50;
    }
  }
  hr {
    @apply text-black bg-black border-none h-[2px] relative z-10;
  }
}

.vector-non-scaling {
  path {
    vector-effect: non-scaling-stroke;
  }
}
